@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    line-height: 100%;
  }
  button {
    line-height: 100%;
  }
  .container {
    max-width: 1760px !important;
  }

  body {
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
  }
  .input_without_arrow::-webkit-outer-spin-button,
  .input_without_arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .input_without_arrow[type="number"] {
    -moz-appearance: textfield;
  }
  .container-reset {
    padding: 0;
    width: 100%;
    max-width: none!important;
  }
}
